{{#each tracks}}
    <div class="album-container" style="background-image: url({{imageUrl}});">
        <h1>{{artistName}}</h1>
        <h1>{{trackName}}</h1>
        <h1>{{albumName}}</h1>
    </div>
{{/each}}
